@import "variables";

body {
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
