@import "variables";

.title {
  text-align: center;
  font-size: 2.5rem;
  color: $primary-color;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background: #2c2c2c;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  h2 {
    font-size: 1.1rem;
    margin-top: 10px;
  }
}
